{% extends 'App_store/base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block body %}
    <div class="row" style="margin-top: 40px; margin-bottom: 40px;">

        {% for product in products %}
            <div class="col-lg-3">
                <div class="container ">
                    <div class="card asics">
                        <p class="price">{{ product.selling_price }}/- Taka</p>

                        <i class="info fas fa-info-circle"></i>
                        <p class="text">
                            {{ product.product_description }}
                        </p>

                        <div class="imgBx">
                            <img src="{{ product.product_header_image.url }}"
                                 alt="a pair of blue and red ASICS sneakers">
                        </div >
                        <form method="post" action="{% url 'App_store:add-to-cart' %}" style="overflow: scroll" enctype="multipart/form-data" class="form-group">
                        {% csrf_token %}
                        <input style="display: none" name="pk" type="number" value="{{ product.id }}">
                            <div class="contentBx" style="overflow: auto">
                                <h2>{{ product.product_name }}</h2>
                                <div class="size">
                                    <h3>Size :</h3>
                                    <select name="size" id="id-size">
                                        {% for size in product.available_sizes %}
                                            <option value="{{ size }}">{{ size }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="color">
                                    <h3>Color:</h3>
                                    <select name="color" id="id-color">
                                        {% for color in product.available_colors %}
                                            <option value="{{ color }}" style="background-color:{{ color }};">{{ color }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            <div class="quantity">
                                    <h3>Quantity:</h3>
                                    <input name="quantity" id="id-quantity" type="number" min="1" value="1">
                                </div>
                                <button type="submit"> Add to Cart</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}


    </div>
{% endblock %}